# Default gitignore by Zendesk
.sass-cache/
style.css.map
node_modules/
.a11yrc.json
*.DS_Store
coverage/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

# Remove bundled JS assets from repo - only needed when serving or deploying
theme/assets/*.js